In [1]:
!python --version

Python 3.7.3

#### Installation of pandas

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sillians\anaconda3\lib\site-packages (0.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\sillians\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\sillians\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sillians\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: six>=1.5 in c:\users\sillians\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\sillians\anaconda3\lib\site-packages (1.16.2)

#### Installation of matplotlib

In [4]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\sillians\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: numpy>=1.10.0 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib) (1.16.2)
Requirement already satisfied: cycler>=0.10 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: six in c:\users\sillians\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in c:\users\sillians\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (41.2.0)

In [5]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\sillians\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\sillians\anaconda3\lib\site-packages (from seaborn) (3.0.3)
Requirement already satisfied: scipy>=0.14.0 in c:\users\sillians\anaconda3\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.15.2 in c:\users\sillians\anaconda3\lib\site-packages (from seaborn) (0.25.3)
Requirement already satisfied: numpy>=1.9.3 in c:\users\sillians\anaconda3\lib\site-packages (from seaborn) (1.16.2)
Requirement already satisfied: cycler>=0.10 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\sillians\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\sillians\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn) (2018.9)
Requirement already satisfied: six in c:\users\sillians\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn) (1.12.0)
Requirement already satisfied: setuptools in c:\users\sillians\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (41.2.0)

#### Pandas version

In [6]:
import pandas as pd

pd.__version__

'0.25.3'

#### Matplotlib version

In [7]:
import matplotlib

matplotlib.__version__

'3.0.3'

#### Numpy version

In [8]:
import numpy as np

np.__version__

'1.16.2'

### Seaborn Version

In [9]:
import seaborn

seaborn.__version__

'0.9.0'

<b>Dataset</b> https://www.kaggle.com/vjchoudhary7/customer-segmentation-tutorial-in-python
* Gender - Gender of the customer
* Age - Age of the customer
* Annual Income (k$) - Annual Income of the customee
* Spending Score (1-100) - Score assigned by the mall based on customer behavior and spending nature

#### Reading data using pandas python

In [10]:
## TODO: While recording please show the file structure first

In [11]:
mall_data = pd.read_json('datasets/Mall_Customers.json')

mall_data.head(5)

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19          15000              39
1            2    Male   21          15000              81
2            3  Female   20          16000               6
3            4  Female   23          16000              77
4            5  Female   31          17000              40

In [12]:
average_income = mall_data['annual_income'].mean()

average_income

60560.0

In [13]:
mall_data.shape

(200, 5)

In [14]:
mall_below = mall_data.copy()
# mall_below

mall_below['below_average_income'] = (mall_data['annual_income'] - average_income) < 0

mall_below.sample(10)

,customer_id,gender,age,annual_income,spending_score,below_average_income
110,111,Male,65,63000,52,False
112,113,Female,38,64000,42,False
187,188,Male,28,101000,68,False
191,192,Female,32,103000,69,False
166,167,Male,42,86000,20,False
104,105,Male,49,62000,56,False
150,151,Male,43,78000,17,False
49,50,Female,31,40000,42,True
170,171,Male,40,87000,13,False
10,11,Male,67,19000,14,True

In [15]:
mall_below.sum()

customer_id                                                         20100
gender                  MaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMa...
age                                                                  7770
annual_income                                                    12112000
spending_score                                                      10040
below_average_income                                                   98
dtype: object

In [16]:
mall_data['above_average_income'] = (mall_data['annual_income'] - average_income) > 0

mall_data.sample(5)

,customer_id,gender,age,annual_income,spending_score,above_average_income
15,16,Male,22,20000,79,False
71,72,Female,47,49000,42,False
178,179,Male,59,93000,14,True
113,114,Male,19,64000,46,True
115,116,Female,19,65000,50,True

In [17]:
mall_data.sum()

customer_id                                                         20100
gender                  MaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMa...
age                                                                  7770
annual_income                                                    12112000
spending_score                                                      10040
above_average_income                                                  102
dtype: object

* We can save it in any forms like normal text file, csv or json. It will save it in the location where you prefer as well

In [18]:
mall_data.to_csv('datasets/mall_data_processed.csv', index=False)

In [34]:
%ls datasets\

 Volume in drive C has no label.
 Volume Serial Number is 76ED-0B4B

 Directory of C:\Users\Sillians\Downloads\Practical data science works\interpreting-data-descriptive-statistics-python\datasets

10/12/2019  12:54 PM    <DIR>          .
10/12/2019  12:54 PM    <DIR>          ..
10/12/2019  12:54 PM             6,148 .DS_Store
10/12/2019  04:11 AM    <DIR>          .ipynb_checkpoints
10/10/2019  08:42 PM             8,318 500_Person_Gender_Height_Weight_Index.csv
10/12/2019  12:39 PM            11,495 automobile_data_processed.csv
10/10/2019  08:42 PM            18,131 auto-mpg.csv
10/12/2019  12:51 PM            27,806 house_data_processed.csv
10/10/2019  08:42 PM            35,008 HousingData.csv
10/10/2019  08:42 PM            24,718 Mall_Customers.json
04/07/2020  12:32 AM            12,452 mall_data_column_oriented.json
04/07/2020  12:32 AM            24,305 mall_data_index_oriented.json
04/08/2020  10:52 PM             5,688 mall_data_processed.csv
04/07/2020  12:32 AM            23,215 mall_data_records_oriented.json
04/07/2020  12:32 AM             6,215 mall_data_values_oriented.json
10/12/2019  10:32 AM               554 Salary_Data.csv
10/10/2019  08:42 PM            19,344 sp500_1987.csv
09/03/2019  05:08 PM           428,120 weight-height.csv
              15 File(s)        651,517 bytes
               3 Dir(s)  200,453,505,024 bytes free

In [35]:
!ls datasets/

'ls' is not recognized as an internal or external command,
operable program or batch file.

#### Read the csv file for the clarification

In [36]:
mall_data_updated = pd.read_csv('datasets/mall_data_processed.csv', index_col=0)

mall_data_updated.head(5)

             gender  age  annual_income  spending_score  above_average_income
customer_id
1              Male   19          15000              39                 False
2              Male   21          15000              81                 False
3            Female   20          16000               6                 False
4            Female   23          16000              77                 False
5            Female   31          17000              40                 False

In [37]:
## TODO: While recording please show the files after each save

In [38]:
mall_data.to_json('datasets/mall_data_column_oriented.json', orient='columns')

In [39]:
mall_data.to_json('datasets/mall_data_records_oriented.json', orient='records')

In [40]:
mall_data.to_json('datasets/mall_data_index_oriented.json', orient='index')

In [41]:
mall_data.to_json('datasets/mall_data_values_oriented.json', orient='values')

In [42]:
%ls datasets\

 Volume in drive C has no label.
 Volume Serial Number is 76ED-0B4B

 Directory of C:\Users\Sillians\Downloads\Practical data science works\interpreting-data-descriptive-statistics-python\datasets

10/12/2019  12:54 PM    <DIR>          .
10/12/2019  12:54 PM    <DIR>          ..
10/12/2019  12:54 PM             6,148 .DS_Store
10/12/2019  04:11 AM    <DIR>          .ipynb_checkpoints
10/10/2019  08:42 PM             8,318 500_Person_Gender_Height_Weight_Index.csv
10/12/2019  12:39 PM            11,495 automobile_data_processed.csv
10/10/2019  08:42 PM            18,131 auto-mpg.csv
10/12/2019  12:51 PM            27,806 house_data_processed.csv
10/10/2019  08:42 PM            35,008 HousingData.csv
10/10/2019  08:42 PM            24,718 Mall_Customers.json
04/08/2020  11:00 PM            12,452 mall_data_column_oriented.json
04/08/2020  11:01 PM            24,305 mall_data_index_oriented.json
04/08/2020  10:52 PM             5,688 mall_data_processed.csv
04/08/2020  11:01 PM            23,215 mall_data_records_oriented.json
04/08/2020  11:01 PM             6,215 mall_data_values_oriented.json
10/12/2019  10:32 AM               554 Salary_Data.csv
10/10/2019  08:42 PM            19,344 sp500_1987.csv
09/03/2019  05:08 PM           428,120 weight-height.csv
              15 File(s)        651,517 bytes
               3 Dir(s)  200,453,300,224 bytes free

In [43]:
!ls datasets/

'ls' is not recognized as an internal or external command,
operable program or batch file.